DATABASE_URL="mysql://root:root@localhost:3306/petshop_db"
JWT_SECRET="pet_costelinha_super_secret_jwt_key_2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Configuracoes de E-mail (Nodemailer / Teste Local Ethereal)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER="ethereal_user@ethereal.email"
SMTP_PASS="ethereal_pass"
EMAIL_FROM="contato@petcostelinha.com.br"
EMAIL_ADMIN="pedidos@petcostelinha.com.br"

# Mercado Pago PIX (Token Oficial do Mercado Pago)
MERCADO_PAGO_ACCESS_TOKEN="APP_USR-seu-access-token-aqui"
